.footer-map-container {
    margin: 3rem;
    width: fit-content;
    height: fit-content;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cacahuete);
    border-radius: 3rem;
}

.footer-map-container-right {
    margin-inline: 5rem;
}

.footer-map-container-right p {
    font-size: 1.5rem;
}
.footer-map-container-left {
    text-align: center;
    color: var(--terrine);
}

.footer-map-container-left h1 {
    color: var(--terrine);
}