@model IEnumerable<LaCroute.Models.ReviewModel>

@{
	foreach (var review in Model)
{
	<div class="review">
		<div class="user-info">
			<span>@review.Name</span>
		</div>
		<div class="rating">
			&#9733;&#9733;&#9733;&#9733;&#9733;
		</div>
		<div class="review-text">
			<h2>@review.Title</h2>
			<p>@review.Description</p>
		</div>
	</div>
} 
} 