<header>
    <script>

        function toggleBurgerMenu() {
            const navbarBurgerContent = document.querySelector('.navbar-burger-content');
            navbarBurgerContent.classList.toggle('show-navbar-burger-content');
        }

        function closeBurgerMenu() {
            const navbarBurgerContent = document.querySelector('.navbar-burger-content');
            navbarBurgerContent.classList.remove('show-navbar-burger-content');
        }

        function scrollToAnchor(event, targetId) {
            event.preventDefault();

            const currentPage = window.location.pathname;

            if (currentPage !== '/') {
                window.location.href = '/' + targetId;
            } else {

                const targetElement = document.querySelector(targetId);

                if (targetElement) {
                    const offset = 200;
                    const targetPosition = targetElement.offsetTop - offset;

                    window.scrollTo({
                        top: targetPosition,
                        behavior: 'smooth'
                    });
                }

            }
        }
    </script>





    <nav class="navbar-header">
        <div class="navbar-header-left">
            <a class="navbar-header-link" href="/#concept" onclick="scrollToAnchor(event, '#concept')">La
                patésserie</a>
            <a class="navbar-header-link" href="/#equipe" onclick="scrollToAnchor(event, '#equipe')">L'équipe</a>
            <a class="navbar-header-link" asp-area="" asp-controller="Menu" asp-action="index">Menu</a>
        </div>

        <a asp-area="" asp-controller="Home" asp-action="index" class="ml-10">
            <img src="~/img/lacroute-blanc.webp" class="img-fluid "
                style="max-width: 11rem; padding-block: 1rem; margin-inline: 1rem;">
        </a>


        <div class="navbar-header-right">
            <a class="navbar-header-link" asp-area="" asp-controller="Book" asp-action="booking">Réserver</a>
            <a class="navbar-header-link" href="/#events" onclick="scrollToAnchor(event, '#events')">Les évènements</a>
            <a class="navbar-header-link" href="#footer" onclick="scrollToAnchor(event, '#footer')">Contact</a>
        </div>
        <partial class="connect-button" name="_LoginPartial" />



        <div class="navbar-burger-toggle">
            <button class="navbar-burger" onclick="toggleBurgerMenu()">&#9776;</button>
            <ul class="navbar-burger-content">
                <li class="navbar-burger-item"><a href="/#concept"
                        onclick="closeBurgerMenu(); scrollToAnchor(event, '#concept')">La
                        patésserie</a></li>
                <li class="navbar-burger-item"><a href="/#equipe"
                        onclick="closeBurgerMenu(); scrollToAnchor(event, '#equipe')">L'équipe</a></li>
                <li class="navbar-burger-item"><a asp-area="" asp-controller="Menu" asp-action="index"
                        onclick="closeBurgerMenu()">Menu</a></li>
                <li class="navbar-burger-item"><a asp-area="" asp-controller="Book" asp-action="booking"
                        onclick="closeBurgerMenu()">Réserver</a></li>
                <li class="navbar-burger-item"><a href="/#events"
                        onclick=" closeBurgerMenu(); scrollToAnchor(event, '#events')">Les
                        évènements</a></li>
                <li class="navbar-burger-item"><a href="#footer"
                        onclick="closeBurgerMenu(); scrollToAnchor(event, '#footer')">Nous trouver</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
