.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--terrine);
    gap: 3rem;
    border-bottom: 10px solid var(--pistache);
}

.navbar-header-left {
    display: flex;
    gap: 2.5rem;
}

.navbar-header-right {
    display: flex;
    gap: 2.5rem;
}

.navbar-logo img {
    max-height: 5.5rem;
    padding : 1rem;
}


.navbar-header-link {
    color: white;
    font-size: 1.5rem;
    font-family: 'VT323';
    text-decoration: none;
  }
  

.navbar-burger-toggle {
display: none;
}

@media screen and (max-width: 1000px) {
    .navbar-header-left {
        display : none;
    }

    .navbar-header-right {
        display : none;
    }
    
    .navbar-header {
        justify-content: space-between;
    }

    .navbar-burger-toggle {
        display: block;
        margin-right: 1rem;
    }

    .navbar-burger {
        width : 3rem;
        aspect-ratio: 1;
        border-radius: 10px;
        background: var(--pistache);
        border: 0;
    }
    
.navbar-burger-content {
    display: none;
    position: absolute;
    right: 0;
    height: fit-content;
    text-align: right;
    background: var(--cacahuete);
    padding-right: 1rem;
    font-family: 'VT323';
    font-size: xx-large;
    list-style-type: none;
    padding: 1.75rem;
    margin-right: 1rem;
    border-radius: 10px;
    border: 10px solid var(--pistache);

}

.show-navbar-burger-content {
    display: block;
}



    .navbar-burger-links {
        display: flex;
    }
   
}