<div class="review">
    <div class="user-info">
        <span>Henri Yette</span>
        <span>(5/5)</span>
    </div>
    <div class="rating">
        &#9733;&#9733;&#9733;&#9733;&#9733;
    </div>
    <div class="review-text">
        <p>Il faut aimer le pâté. Mais moi j'aime bien le pâté. C'est bon le pâté.</p>

    </div>
</div>