.footer-map-container {
    margin: 3rem;
    padding: 5rem;
    align-items: center;
    background-color: var(--cacahuete);
    border-radius: 3rem;

}
.footer-map-container {
    text-align: center;
    color: var(--terrine);
}

.footer-map-container h1 {
    color: var(--terrine);
}

