.footer-map-container {
    margin: 3rem;
    padding: 3rem;
    align-items: center;
    background-color: var(--cacahuete);
    border-radius: 3rem;

}
.footer-map-container {
    text-align: center;
    color: var(--terrine);
}

.footer-map-container h1 {
    color: var(--terrine);
}

.map-iframe {
    width: 80%;
    aspect-ratio: 3/2;
    
}

@media (max-width: 768px) {
    .map-iframe {
       width: 20rem;
    }
}