@model LaCroute.Models.LabelModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="text-center">

        <h1>Supprimer le label</h1>

        <h2>Etes-vous sur de vouloir supprimer ce label ?</h2>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Intitulé
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    SVG
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Svg)
                </dd>
                <dt class="col-sm-2">
                    Date de création
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Created_at)
                </dd>
                <dt class="col-sm-2">
                    Date de mise à jour
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Updated_at)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Supprimer" class="btn btn-admin" />
                <a asp-action="Index" class="btn btn-admin">Retour</a>
            </form>
        </div>
    </div>
</div>
