h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--terrine);
}

h2 {
    color: var(--cacahuete);
    font-size: 2rem;
}

h3 {
    color: var(--terrine);
    margin: 0;
}

svg {
    width: 0.7rem;
}

.menu {
    padding: 2rem;
}