<div class="container container-concept" id="concept">
    <div class="row d-flex justify-content-around gx-md-6 align-items-center">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <>
        </div>
        <div class="col-12 col-md-6 py-2 ">
            <h2>Pourquoi la Croute ? Pourquoi Patésserie</h2>
            <p>
                Découvrez l'ultime paradis des amateurs de pâté, niché au cœur de notre charmante ville. "La Croûte" est
                bien plus qu'un simple restaurant; c'est une expérience gastronomique dédiée à célébrer l'art du pâté
                sous toutes ses formes.
                <br><br>
                Notre menu, méticuleusement conçu par des chefs passionnés, met en vedette une variété exquise de pâtés,
                allant des classiques aux créations contemporaines. Parce que "La-Croûte" est un lieu de partage, notre
                menu propose également des spécialités pour l'apéritif végétarienne et sans porc. Chaque bouchée est une
                invitation à un voyage gustatif inégalé, où les saveurs se mêlent avec harmonie pour éveiller vos
                papilles.
            </p>
        </div>
    </div>
</div>