.concept-row {
    align-items: center;
    justify-content: center;
}

.container-concept {
margin-inline: auto;
}

.concept-description {
    margin-bottom: 5rem;
}
.container-left {
position : relative;
margin-right: 1rem;
}

p { 
   font-family: VT323;
   font-size: 1.5rem;
 color: rgb(54, 54, 54);
}

.concept-text {
    margin-top: 3rem;
}

.concept-slogan {
    position: absolute;
    top: 15rem;
    left: 0rem;
    font-family: 'pirata one';
    font-size: 5.5rem;
    text-align: start;
    line-height: 5rem;
    color: var(--rillettes);
    text-shadow: 4px 4px 0px var(--terrine);
}

.bouton-reserver {
    margin-bottom: 5rem;
}

@media screen and (max-width: 800px) {
    .concept-slogan {
        font-size: 3.5rem;
        left: 3rem;
        top: 0rem;
        max-width: 80%;
    }

    P {
        margin-inline: 1rem;
    }

    .concept-image {
        width: 100%;
    }

    ;.concept-text {
        width: 100%;
    }

}