#bg-team{
    background-color: var(--pistache);
    padding-top:300px ;
    padding-bottom:300px ;
}
.m-container{
    text-align: justify;
    margin: 0 auto;
}
.gx-6{
    gap: 5rem;
}
p{
    width: 60%;
}

.titre-section {
    font-size: 5rem;
    color: var(--couenne);
    text-shadow: 4px 4px 0px var(--terrine);
    font-family: Pirata One;
    line-height: 5rem;
position: relative;
margin-left: 5rem;
    top: 20rem;
}


@media screen and (max-width: 500px) { 
    p{
        width: 100%;
    }
}
