<div id="bg-team">
	<div class="container m-container" id="equipe">
		<div class="row d-flex justify-content-around gx-md-6 align-items-center">
			<div class="col-12 col-md-6 py-2">

				<h3>Bonjour et bienvenue à tous !</h3><br><br>
				<p>
					Nous sommes ravis de vous présenter notre équipe unique et passionnée qui se cache derrière "La
					Croute",
					le
					seul restaurant en ville dédié exclusivement à l'art du pâté. Chacun de nos membres apporte une
					touche
					spéciale à notre cuisine, et ensemble, nous travaillons avec amour et dévouement pour transformer ce
					classique de la gastronomie en une expérience culinaire inoubliable.
					<br><br>
					Notre chef, un véritable artisan du goût, sélectionne avec soin les ingrédients les plus frais et
					les
					plus
					fins pour créer une gamme de pâtés qui éveillent les sens. De la texture parfaite à la fusion
					harmonieuse
					des saveurs, chaque pâté est un chef-d'œuvre en soi.

			</div>
			<div class="col-12 col-md-6 d-flex align-items-center">
				<div id="carouselTeam" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="img/chefcuistot.jfif" class="d-block w-100 img-fluid" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Rémi, notre chef Patéssier</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="img/thierry.jfif" class="d-block w-100 img-fluid" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Thierry, notre sommelier</h5>
							</div>
						</div>
						<div class="carousel-item">
							<img src="img/camille.jfif" class="d-block w-100 img-fluid" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Camille, notre serveuse</h5>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselTeam"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselTeam"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
<h3 class="titre-section">Terrine attendrie<br>Bonne compagnie<br>Goûts en symphonie</h3>
<img class="image-section img-fluid w-100" src="img\croute.jpg" class="img-fluid" alt="...">