@model LaCroute.Models.LabelModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="text-center">

        <div class="linkcontainer">
            <a href="@Url.Action("Menu", "Home")" class="btn link">Voir le menu</a>
        </div>

        <h1>Editer le label</h1>

        <hr />
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Intitulé</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Svg" class="control-label">SVG</label>
                        <input asp-for="Svg" class="form-control" />
                        <span asp-validation-for="Svg" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enregistrer" class="btn btn-admin m-2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-admin m-2">Retour</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
