@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de changement de mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
Vérifiez vos emails pour confirmer le changement de votre mot de passe</p>
