.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.border-pistache{
    border-color: var(--pistache) !important;
    padding-right: 0px !important;
    padding-left: 0px !important;

}
.bg-terrine{
    background-color: var(--terrine) !important;
}

.btn-outline-cacahuete{
    color: var(--pistache);
    border-color:var(--pistache);
}

.btn-outline-cacahuete:hover{
    color: var(--terrine);
    border-color:var(--pistache);
    background-color: var(--pistache);
}

.bg-pistache{
    background-color: var(--pistache)!important;
}

.btn-pistache{
    background-color: var(--pistache)!important;
    color: var(--terrine)!important;
}


h2{
    padding: 0px !important;
}

.padding-form{
    padding: 2px !important;
}

.form-border{
    border-radius: 35px;
}