@model IEnumerable<LaCroute.Models.TypeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="text-center">

        <div class="linkcontainer">
            <a class="btn link" asp-area="" asp-controller="Menu" asp-action="index">Voir le menu</a>
        </div>

        <h1>Types</h1>

        <p>
            <a asp-action="Create" class="btn btn-admin">Ajouter un type</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Intitulé
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-admin">Editer</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-admin">Détail</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-admin">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>