@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&family=Pirata+One&family=VT323&display=swap');

:root {
    --couenne: #ffe5dd;
    --rillettes: #ffc7bf;
    --terrine: #74463f;
    --pistache: #dde2c8;
    --cacahuete: #d06a4e;
}

    html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

p {
  font-family: 'Chakra Petch';
}

h1 {
    font-family: 'Pirata One';
}

h2 {
    font-family: 'VT323';
}



.navbar-header-link {
  color: white;
  font-size: 1.5rem;
  font-family: 'VT323';
  text-decoration: none;
}

.navbar-header-link:hover {
  color: var(--couenne);
}

.navbar-burger-content a {
  text-decoration: none;
  color: var(--pistache);
}

.navbar-burger-content a:hover {
  font-weight: bold;
}