@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&family=Pirata+One&family=VT323&display=swap');

:root {
    --bs-couenne: #ffe5dd;
    --bs-rillettes: #ffc7bf;
    --bs-terrine: #74463f;
    --bs-pistache: #dde2c8;
    --bs-cacahuete: #d06a4e;
}

    html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

p {
  font-family: 'Chakra Petch';
}

h1 {
    font-family: 'Pirata One';
    color: var(--bs-terrine);
}

h3 {
    font-family: 'VT323';
}