@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&family=Pirata+One&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {

  padding: 0 !important;
}

:root {
    --couenne: rgb(255, 229, 221);
    --rillettes: rgb(255, 199, 191);
    --terrine: #74463f;
    --pistache: #dde2c8;
    --cacahuete: #d06a4e;
}

.bg-couenne {
    background-color: var(--couenne);
}

    html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

p {
  font-family: 'Chakra Petch';
}

h1 {
    font-family: 'Pirata One';
}

h2 {
    font-family: 'VT323';
}

.navbar-header-link {
  color: white;
  font-size: 1.5rem;
  font-family: 'VT323';
  text-decoration: none;
}

.navbar-header-link:hover {
  color: var(--rillettes);
}

.navbar-burger-content a {
  text-decoration: none;
  color: var(--pistache);
}

.navbar-burger-content a:hover {
  font-weight: bold;
}

.pb-3 {
  padding-bottom: 0 !important;
}

.btn-admin {
  background-color: var(--cacahuete);
  padding: 0.3rem 1rem;
  color: var(--couenne);
  font-weight: 600;
  font-size: 14px;
}


.concept-image {
  max-width: 39rem !important;
  margin-inline: auto !important;
}

.booking-button {
  background-color: var(--cacahuete);
  padding: 0.3rem 1rem;
  color: var(--couenne);
  font-size: x-large;
  font-family: VT323;
  
}

.booking-button a {
  margin-inline: auto;
}

@media  screen and (max-width: 800px) {
  .concept-image {
    max-width: 100% !important;
  }
  
}