@model LaCroute.Models.EventModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="text-center">

        <h1>Ajouter un évènement</h1>

        <hr />
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="title" class="control-label">Intitulé</label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="description" class="control-label">Description</label>
                        <input asp-for="description" class="form-control" />
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="thumbnail" class="control-label">Photo</label>
                        <input asp-for="thumbnail" class="form-control" />
                        <span asp-validation-for="thumbnail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date" class="control-label">Date</label>
                        <input asp-for="date" class="form-control" />
                        <span asp-validation-for="date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Créer" class="btn btn-admin m-2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-admin m-2">Retour</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
